<div class="splash-screen" id="splash">
    <div class="splash-title">
        <span class="letter let1">A</span>  
        <span class="letter let2">r</span>  
        <span class="letter let3">k</span>  
        <span class="letter let4">ē</span>  
    <!--     <span class="let5">i</span>  
        <span class="let6">n</span>  
        <span class="let7">g</span>   -->
      </div>
    <div class='wing'>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
      </div>
      <div class='wing'>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
        <div class='feather'></div>
      </div>
</div>