<span class="welcome-name">
    Hi <span class="nameplate"></span>,
</span>
<div class="welcome-title">
    Welcome to Arkē Chat.
</div>
<div class="current-room-number-title">You are currently in room id:</div>
<div class="current-room-number"></div>
<div id="placeHolder"></div>

<div class="instructions-section">
    <div class="instruction-point">
        <div class="bullet">1</div>
        <span class="instruction-line">You are inside a <b>disposable</b> chatroom. Nothing is saved. It's peer-to-peer.</span>
    </div>
    <div class="instruction-point">
        <div class="bullet">2</div>
        <span class="instruction-line">Invite anyone to this chatroom by sharing the <b>QR Code</b> above or copying the invite link by clicking on the <b>button</b> in the top right.</span>
    </div>
    <div class="instruction-point">
        <div class="bullet">3</div>
        <span class="instruction-line">Enjoy!</span>
    </div>
</div>
<button class="enter-chat">Go to chat <ion-icon name="arrow-forward-circle"></ion-icon></button>