<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Disposable Chat Room">
     <meta name="author" content="Hasala2002">
    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script> -->
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
    <script defer src='script.js'></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcode-generator/1.4.4/qrcode.min.js" integrity="sha512-ZDSPMa/JM1D+7kdg2x3BsruQ6T/JpJo3jWDWkCZsP+5yVyp1KfESqLI+7RqB5k24F7p2cV7i2YHh/890y6P6Sw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/browser-image-compression/1.0.9/browser-image-compression.min.js" integrity="sha512-128I8ehvlxR/VevkH/PuNWyGFzaXl3rx8vR+Bgslveukipa85ieAqI1pncOExpEbQNpTW/S23ni/j7blz7/EGQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="linkify.js"></script>
    <script src="linkify-html.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="splash.css">
    <title>Ark</title>
    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>
</head>
<body>
    <div class="splash-screen" id="splash">
        <div class="splash-title">
            <span class="letter let1">A</span>  
            <span class="letter let2">r</span>  
            <span class="letter let3">k</span>  
            <span class="letter let4"></span>  
        <!--     <span class="let5">i</span>  
            <span class="let6">n</span>  
            <span class="let7">g</span>   -->
          </div>
        <div class='wing'>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
          </div>
          <div class='wing'>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
          </div>
    </div>
    <div class="form-vignette" id="userNameForm">
        <div class="form-block">
            <img class="form-logo" src="./logo.png" alt="logo">
            <span class="instruct">Please Enter a Display Name</span>
            <input type="text" class="user-name" id="userName" placeholder="Display Name">
            <button class="user-name-btn" id="userNameBtn">Join Room</button>
        </div>
    </div>
    <div class="arke-welcome">
        <span class="welcome-name">
            Hi <span class="nameplate"></span>,
        </span>
        <div class="welcome-title">
            Welcome to Ark Chat.
        </div>
        <div class="current-room-number-title">You are currently in room id:</div>
        <div class="current-room-number"></div>
        <div id="placeHolder"></div>

        <div class="instructions-section">
            <div class="instruction-point">
                <div class="bullet">1</div>
                <span class="instruction-line">You are inside a <b>disposable</b> chatroom. Nothing is saved. It's peer-to-peer.</span>
            </div>
            <div class="instruction-point">
                <div class="bullet">2</div>
                <span class="instruction-line">Invite anyone to this chatroom by sharing the <b>QR Code</b> above or copying the invite link by clicking on the <b>button</b> in the top right.</span>
            </div>
            <div class="instruction-point">
                <div class="bullet">3</div>
                <span class="instruction-line">Enjoy!</span>
            </div>
        </div>
        <button class="enter-chat">Go to chat <ion-icon name="arrow-forward-circle"></ion-icon></button>
    </div>
    <div class="arkechat">
    <audio id="enterAudio" src="enter.wav" preload></audio>
    <audio id="smsNot" src="sms.wav" preload></audio>
    <div id="snackbar">User Joined</div>
    <section class="title">
        <div class="menu-button">
            <ion-icon name="grid"></ion-icon>
        </div>
        <span class="app-name">Ark</span>
        <div class="room-data">
            <div>
                <ion-icon name="people-circle"></ion-icon>
        <span class="user-count" id='userCount'>0</span>
    </div>
        <button class="invite-link" id="inviteUrlCopy">Invite</button>
    </div>
    </section>
    <section class="chat">
        <div class="chat-wrapper" id="messageList">

        </div>
    </section>
    <section class="input">
        <div class="image-send-confirm-modal">
            <svg class="image-confirm-tail" width="30" height="14" viewBox="0 0 30 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M30 0H0L11.5 11.5C14.3 14.3 17.3333 12.6667 18.5 11.5L30 0Z" fill="#101010"/>
                </svg>
                <div class="image-send-preview">
                    <div class="img-compress-loader">
                        <ion-icon name="sync-outline"></ion-icon>
                        <span>compressing</span>
                    </div>
                    <img id="img-prvw" src="./bg.png" alt="">
                </div>
                <div class="image-send-options">
                    <div class="image-send-cancel">
                        <ion-icon name="close" class="close-icon"></ion-icon>
                    </div>
                    <button class="img-send-btn">
                        send
                    </button>
                </div>
        </div>
        <div class="emoji-picker-window">
            <svg class="emoji-picker-tail" width="30" height="14" viewBox="0 0 30 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M30 0H0L11.5 11.5C14.3 14.3 17.3333 12.6667 18.5 11.5L30 0Z" fill="#101010"/>
                </svg>
                <div class="emoji-picker-box">
                    <emoji-picker></emoji-picker>
                </div>
        </div>

        <div class="input-box">
            <input type="file"
            id="imageInput" name="imageInput"
            accept="image/png, image/jpeg">
            <div class="input-area">
                <textarea class="message-box" id="messageBox" placeholder="Message @room"></textarea>
            </div>
            <label class="attach-button" id="attach" for="imageInput">
                <ion-icon name="image" class="attach-icon"></ion-icon>
        </label>
            <button class="happy-button" id="happy">
                <ion-icon name="happy" class="happy-icon"></ion-icon>
        </button>
            <button class="send-button" id="send">
                <ion-icon name="send" class="send-icon"></ion-icon>
        </button>
        </div>
    </section>
</div>

</body>
</html>