<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Disposable Chat Room">
     <meta name="author" content="Hasala2002">
    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script> -->
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    <script defer src='script.js'></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcode-generator/1.4.4/qrcode.min.js" integrity="sha512-ZDSPMa/JM1D+7kdg2x3BsruQ6T/JpJo3jWDWkCZsP+5yVyp1KfESqLI+7RqB5k24F7p2cV7i2YHh/890y6P6Sw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="splash.css">
    <title>Ark</title>
    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>
</head>
<body>
    <div class="splash-screen" id="splash">
        <div class="splash-title">
            <span class="letter let1">A</span>  
            <span class="letter let2">r</span>  
            <span class="letter let3">k</span>  
            <span class="letter let4"></span>  
        <!--     <span class="let5">i</span>  
            <span class="let6">n</span>  
            <span class="let7">g</span>   -->
          </div>
        <div class='wing'>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
          </div>
          <div class='wing'>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
            <div class='feather'></div>
          </div>
    </div>
    <div class="form-vignette" id="userNameForm">
        <div class="form-block">
            <img class="form-logo" src="./logo.png" alt="logo">
            <span class="instruct">Please Enter a Display Name</span>
            <input type="text" class="user-name" id="userName" placeholder="Display Name">
            <button class="user-name-btn" id="userNameBtn">Join Room</button>
        </div>
    </div>
    <div class="arke-welcome">
        <span class="welcome-name">
            Hi <span class="nameplate"></span>,
        </span>
        <div class="welcome-title">
            Welcome to Ark Chat.
        </div>
        <div id="placeHolder"></div>
        <div class="current-room-number-title">You are currently in room id:</div>
        <div class="current-room-number"></div>
    </div>
    <div class="arkechat">
    <audio id="enterAudio" src="enter.wav" preload></audio>
    <audio id="smsNot" src="sms.wav" preload></audio>
    <div id="snackbar">User Joined</div>
    <section class="title">
        <span class="app-name">Ark</span>
        <div class="room-data">
            <div>
        <i class="fa fa-user user-icon" aria-hidden="true"></i>
        <span class="user-count" id='userCount'>0</span>
    </div>
        <button class="invite-link" id="inviteUrlCopy">Invite</button>
    </div>
    </section>
    <section class="chat">
        <div class="chat-wrapper" id="messageList">
    
        </div>
    </section>
    <section class="input">
        <div class="input-box">
            <div class="input-area">
                <textarea class="message-box" id="messageBox" placeholder="Message @room"></textarea>
            </div>
            <button class="send-button" id="send">
            <i class="fas fa-paper-plane send-icon"></i>
        </button>
        </div>
    </section>
</div>

</body>
</html>