@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css");

@font-face {
    font-family: 'Nimbus Sans L';
    src: url('/fonts/nimbus/NimbusSanL-RegIta.woff2') format('woff2'),
        url('/fonts/nimbus/NimbusSanL-RegIta.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nimbus Sans L';
    src: url('/fonts/nimbus/NimbusSanL-BolIta.woff2') format('woff2'),
        url('/fonts/nimbus/NimbusSanL-BolIta.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nimbus Sans L';
    src: url('/fonts/nimbus/NimbusSanL-Bol.woff2') format('woff2'),
        url('/fonts/nimbus/NimbusSanL-Bol.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nimbus Sans L';
    src: url('/fonts/nimbus/NimbusSanL-Reg.woff2') format('woff2'),
        url('/fonts/nimbus/NimbusSanL-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root{
    --font-fira: 'Fira Code', monospace;
    --font-roboto: 'Roboto Mono', monospace;
    --font-anon: 'Anonymous Pro', monospace;
    --font-nimbus: 'Nimbus Sans L'; 
    --font-lato: 'Lato', sans-serif;
    --font-jakarta: 'Plus Jakarta Display', sans-serif;
}

*{
    color: #fff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-jakarta);
}

.room-data div{
    display: flex;
    align-items: center;
}

.room-data div ion-icon {
    font-size: 1.75em;
    margin-right: 2.5px;
}

ion-icon {
    font-size: 1em;
  }

::-webkit-scrollbar{
    width: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: #f2f2f2;
    border-radius: 1em;
}


html,body{
    width: 100vw;
    height: 100%;
    background-color: #040404;
}

body{
    display: flex;
}

.enter-chat{
    display: none;
}

.arkechat{
    width: 412px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(./bg.png);
    background-size: auto 60% ;
}

.title{
    width: 100%;
    height: 10%;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background-color: #000;
    border-radius: 0 0 .5em .5em;
}

.app-name{
    font-size:1.5em;
    font-weight: 600;
}

.menu-button{
    width: 30px;
    aspect-ratio: 1/1;
    background-color: #040404;
    border-radius: 50px;
    border: 1px solid #f2f2f280;
    margin-right: 20px;
    display: grid;
    place-items: center;
    display: none;
}

.chat{
    width: 100%;
    height: 80%;
    padding: .5rem .75rem;
    overflow: auto;
}

.chat-wrapper{
    width: 100%;
    height:100%;
    list-style: none;
    padding: 5px;
    
    /* background-color: red; */
}

.chat-messages{
    width: 75%;
    height: fit-content;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    padding: 10px 20px;
    /* padding-bottom: 5px; */
    margin: 10px 0;
    background-color: rgb(8, 8, 8);
    border-radius: 0 .5rem .5rem .5rem;
    /* border-bottom: 1px solid rgba(242, 242, 242, 0.063); */
    /* background-color:red; */
}


.w-o-name{
    min-height: 30px;
}

.personal{
    align-items: flex-end;
    margin-right: 0;
    margin-left: auto;
    border-radius: .5rem 0 .5rem .5rem;
    background-color: rgb(12, 12, 12);
}

.chat-user{
    font-weight: 600;
}

.chat-message{
    padding-top: 2.5px;
    font-weight: 400;
    padding-left: 7.5px;
    word-break: break-word;
    text-align: left;
    display: flow-root;
    unicode-bidi: plaintext;
}

.personal .chat-message{
    text-align: right;
}

.chat-message a{
    color: #f2f2f280;
}

.input{
    width: 100%;
    height: 10%;
    padding: .5rem .75rem;
}

.input-box{
    width: 100%;
    height: 100%;
    max-height: 50px;
    min-height: 47.5px;
    border: 1px solid #f2f2f2;
    border-radius: .5rem;
    display: flex;
    flex-direction: row;
    background-color: #040404;
}

.fa{
    color: #fff;
    font-size: 24px;
}

.input-area{
    height:100%;
    flex: 1;
    display: grid;
    place-items: center;
}

.send-button{
    height:100%;
    width:5%;
    display: grid;
    place-items: center;
    border: none;
    border-left: 1px solid #f2f2f2;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    min-width: 47.5px;
}

.send-icon{
    font-size: 1.25em;
    transition:.25s;
    transform: rotate(-25deg) scale(1);
}

.send-button:hover .send-icon{
    transform: rotate(0deg) scale(1.05);
}

.message-box{
    width: 95%;
    height: 95%;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1em;
    font-weight: 400;
    resize: none !important;
    padding-top: .75em;
}

.splash-screen{
    width:100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    display: grid;
    place-items: center;
    z-index: 999;
}

.form-vignette{
    width:100%;
    height: 100%;
    background-color: #000000eb;
    position: absolute;
    display: grid;
    place-items: center;
    z-index: 998;
}

.form-block{
    max-width: 360px;
    width: 75%;
    height: 45%;
    background-color: #000;
    border-radius: .5rem;
    border: 1px solid #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.instruct{
    font-size: 0.95em;
    font-weight: 600;
    width:80%;
    text-align: center;
    /* text-transform: uppercase; */
}
.user-name{
    width:80%;
    height: 15%;
    font-size: 1em;
    padding: 10px;
    min-height: 47.5px;
    background-color: transparent;
    border-radius: .5rem;
    border: 1px solid #f2f2f2;
    outline: none;
}

.user-name-btn{
    width:80%;
    height: 15%;
    font-size: 0.9em;
    min-height: 47.5px;
    background-color: transparent;
    border-radius: .5rem;
    border: 1px solid #f2f2f2;
    outline: none;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.user-name-btn:hover{
    background-color: #050505;
}

.form-logo{
    width: 30%;
    height: auto;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #040404; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a topz-index if needed */
    left: 50%; /* Center the snackbar */
    top: 50px; /* 30px from the bottom */
    border-radius: .5rem;
    border: 1px solid #f2f2f2;
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 50px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 50px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {top: 50px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {top: 50px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }

  .room-data{
     margin-right: 0;
     margin-left: auto;
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content:space-evenly;
      /* justify-self: flex-end; */
  }

  .user-icon{
      transform: scale(0.8);
  }

  .user-count{
      font-size:1.25em;
      padding-left: 2.5px;
      font-weight:600;
  }

  .invite-link{
    width:40%;
    height: 60%;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 2px;
    /* min-height: 47.5px; */
    background-color: transparent;
    border-radius: .5rem;
    border: 1px solid #f2f2f2;
    outline: none;
    text-transform: uppercase;
  }

.arke-welcome{
    height: 100%;
    flex: 1 1 0;
    background-color: rgb(6, 6, 6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.welcome-name{
    font-size: 2.5em;
    font-weight: 600;
    color: #f2f2f210;
}

.welcome-name .nameplate{
    color: #f2f2f280;
    margin: 0 2.5px;
}

.welcome-title{
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 0.5em;
    color: #f2f2f210
}

#placeHolder{
    width: fit-content;
    height: fit-content;
    margin-bottom: 2em;
}

  #placeHolder img{
    border-radius: .5em;
    width: 100px;
    height: 100px;
  }


.current-room-number-title{
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.5em;
    color: #f2f2f210
}

.current-room-number{
    font-size: 1em;
    /* font-weight: 600; */
    margin-bottom: 1em;
    color: #f2f2f280
}

.instructions-section{
    width: 60%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.instruction-point{
    display: flex;
    margin-bottom: 1em;
}

.bullet{
    background-color: #f2f2f280;
    margin-top: 2.5px;
    font-weight: 600;
    height: 17.5px;
    font-size: 0.75em;
    display: grid;
    place-items: center;
    aspect-ratio: 1/1;
    border-radius: 50%;
    color: #040404;
    margin-right: 10px;
}

.instruction-line{
    color: #f2f2f280;
    text-align: left;
    font-size: 0.975em;
}

.instruction-line b{
    color: #f2f2f280;
}

@media screen and (max-width: 850px) {
    .arke-welcome{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 3;
        transition: 0.5s ease-in-out;
    }

    .close{
        transform: translateX(-100%)
    }

    .arkechat{
        width: 100%;
    }

    .welcome-title{
        font-size: 2.5em;
    }

    .welcome-name{
        font-size: 2em;
    }

    .current-room-number-title{
        font-size: 1.25em;
    }

    .current-room-number{
        font-size: 0.9em;
    }

    .enter-chat{
        background-color: #040404;
        color: #f2f2f280;
        text-align: center;
        border-radius: 0.5em;
        padding: 12.5px;
        border: 1px solid #f2f2f280;
        outline-width: 0px;
        font-size: 0.8em;
        font-weight: 600;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .enter-chat:hover{
        background-color: #101010;
    }

    .enter-chat ion-icon{
        margin-left: 10px;
        color: #f2f2f280;
        font-size: 1.75em;
    }

    .menu-button{
        display: grid;
    }

}