@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root{
    --font-fira: 'Fira Code', monospace;
    --font-roboto: 'Roboto Mono', monospace;
    --font-anon: 'Anonymous Pro', monospace;
}

*{
    color: #fff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-anon);
}

::-webkit-scrollbar{
    width: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: #f2f2f2;
    border-radius: 1em;
}


html,body{
    width: 100vw;
    height: 100%;
    background-color: #040404;
}

body{
    display: flex;
    flex-direction: column;
}

.title{
    width: 100%;
    height: 7.5%;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
}

.app-name{
    font-size:2em;
    font-weight: 600;
}

.chat{
    width: 100%;
    height: 82.5%;
    padding: .5rem .75rem;
    overflow: auto;
}

.chat-wrapper{
    width: 100%;
    height:100%;
    list-style: none;
    /* background-color: red; */
}

.chat-messages{
    width: 100%;
    height: fit-content;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    padding: 2.5px;
    padding-bottom: 5px;
    margin: 5px 0;
    border-bottom: 1px solid #f2f2f210;
    /* background-color:red; */
}

.w-o-name{
    min-height: 30px;
}

.personal{
    align-items: flex-end;
}

.chat-user{
    font-weight: 600;
}

.chat-message{
    padding-top: 2.5px;
    font-weight: 400;
    padding-left: 7.5px;
}
.input{
    width: 100%;
    height: 10%;
    padding: .5rem .75rem;
}

.input-box{
    width: 100%;
    height: 100%;
    min-height: 47.5px;
    border: 1px solid #f2f2f2;
    border-radius: .5rem;
    display: flex;
    flex-direction: row;
}

.fa{
    color: #fff;
    font-size: 24px;
}

.input-area{
    height:100%;
    flex: 1;
    display: grid;
    place-items: center;
}

.send-button{
    height:100%;
    width:5%;
    display: grid;
    place-items: center;
    border: none;
    border-left: 1px solid #f2f2f2;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    min-width: 47.5px;
}

.send-icon{transition:.25s}

.send-button:hover .send-icon{
    transform: rotate(25deg) scale(1.05);
}

.message-box{
    width: 95%;
    height: 95%;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1em;
    font-weight: 400;
    resize: none !important;
    padding-top: .75em;
}

.splash-screen{
    width:100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    display: grid;
    place-items: center;
    z-index: 999;
}

.form-vignette{
    width:100%;
    height: 100%;
    background-color: #000000eb;
    position: absolute;
    display: grid;
    place-items: center;
    z-index: 998;
}

.form-block{
    width: 75%;
    height: 45%;
    background-color: #000;
    border-radius: .5rem;
    border: 1px solid #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.instruct{
    font-size: 1em;
    font-weight: 600;
    width:80%;
    text-align: center;
}
.user-name{
    width:80%;
    height: 15%;
    font-size: 1em;
    padding: 10px;
    min-height: 47.5px;
    background-color: transparent;
    border-radius: .5rem;
    border: 1px solid #f2f2f2;
    outline: none;
}

.user-name-btn{
    width:80%;
    height: 15%;
    font-size: 1em;
    min-height: 47.5px;
    background-color: transparent;
    border-radius: .5rem;
    border: 1px solid #f2f2f2;
    outline: none;
}

.user-name-btn:hover{
    background-color: #050505;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #000; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a topz-index if needed */
    left: 50%; /* Center the snackbar */
    top: 50px; /* 30px from the bottom */
    border-radius: .5rem;
    border: 1px solid #f2f2f2;
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 50px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 50px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {top: 50px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {top: 50px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }

  .room-data{
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content:space-evenly;
      /* justify-self: flex-end; */
  }

  .user-icon{
      transform: scale(0.8);
  }

  .user-count{
      font-size:1.5em;
      font-weight:600;
  }

  .invite-link{
    width:40%;
    height: 80%;
    font-size: 1em;
    font-weight: 600;
    /* min-height: 47.5px; */
    background-color: transparent;
    border-radius: .5rem;
    border: 1px solid #f2f2f2;
    outline: none;
  }