@import "../../assets/colors.scss";
@import "../../index.scss";

.NavBar {
  width: 100%;
  height: 48px;
  display: flex;
  padding: 4px 0;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 99;
  transform: translateX(-50%);
  max-width: 1440px;
  padding-left: $page-padding-left;
  padding-right: $page-padding-right;
  backdrop-filter: blur(10px);
}

.NavBar::after {
  width: calc(100% - $page-padding-left - $page-padding-right);
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: 1px;
  background-color: #fff;
  opacity: 0.08;
  position: absolute;
}

.Title {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  img {
    height: 50%;
    width: auto;
  }
  span {
    font-weight: 700;
    font-size: 1.1em;
  }
}

.NavLinks {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
    color: #eeeffc;
  }
}

.NavAuth {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  // justify-self: end;
  // margin-left: auto;
  right: auto;
  a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
    color: #eeeffc;
  }
  a.Btn {
    background: main-gradient(315deg);
    padding: 5px 15px;
    border-radius: 8px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.RespNav {
  display: none;
}

.RespNavLinks {
  position: absolute;
  height: calc(100vh - 48px);
  top: 48px;
  width: calc(100% - $page-padding-left - $page-padding-right);
  left: 50%;
  background-color: rgb(0, 0, 0, 0.9);
  transform: translateX(-50%);
  backdrop-filter: blur(10px);
  transition: 0.2s ease-in-out;
  display: none;
  flex-direction: column;
  a {
    width: 100%;
    padding: 15px 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
    color: #eeeffc;
    border-bottom: 1px solid rgb(255, 255, 255, 0.05);
  }
}

.Open {
  // top: calc(1px - 100% - 48px - 1px);
  top: 0;
  transform: translateX(-50%) translateY(-100%);
  z-index: 98;
}

.AccountStatus {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  .Chip {
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 2.5px 7.5px;
    border-radius: 50px;
    // border: 1px solid white;
    gap: 5px;
    margin-left: 10px;
    span {
      font-size: 0.55em;
      font-weight: 500;
      //   min-width: 12px;
      text-wrap: nowrap;
      text-transform: uppercase;
    }
    background-color: #000;
    $border: 2px;
    box-sizing: border-box;
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent; /* !importanté */
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -$border; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: main-gradient(315deg);
    }
  }
}

@media screen and (max-width: 790px) {
  .NavLinks {
    display: none;
  }

  .NavAuth {
    gap: 20px;
  }

  .RespNav {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .RespNavLinks {
    display: flex;
  }
}

@media screen and (max-width: 420px) {
  .AccountStatus {
    display: none;
  }
}
