[data-font="default"] {
  font-family: "Plus Jakarta Display", sans-serif;
}

[data-font="kalam"] {
  font-family: "Kalam", cursive;
}

[data-font="cascadia"] {
  font-family: "Cascadia Code", sans-serif;
}
