@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css");
@import "./assets/colors.scss";
@import "./assets/fonts.scss";

@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/cascadia-code");

$page-padding-default: 32px;
$page-padding-default: 32px;

// @media screen and (max-width: 420px) {
//   $page-padding-default: 16px;
//   $page-padding-default: 16px;
// }

$page-padding-left: max(env(safe-area-inset-left), $page-padding-default);
$page-padding-right: max(env(safe-area-inset-right), $page-padding-default);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: "Plus Jakarta Display", sans-serif;
  // font-family: "Kalam", cursive;
  // font-family: "Cascadia Code", sans-serif;
  color: #fff;
  scroll-behavior: smooth;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow-x: hidden;
  font-size: 100%;
}

body.swal2-height-auto {
  height: 100% !important;
}

#root {
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  background-color: #000;
  position: relative;
}

$bg-color: #000;
$dot-color: #fff;

// Dimensions
$dot-size: 5px;
$dot-space: 75px;

// #root::after{
//     width: 100%;
//     max-width: 1410px;
//     height: 600px;
//     content: "";
//     position: absolute;
//     left: 50%;
//     transform: translateX(-50%);
//     top: 0;
//     z-index: 1;
//     background:
//     linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
//     linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
//     $dot-color;
// background-size: $dot-space $dot-space;
//     opacity: 0.075;
// }

.App {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  z-index: 2;
  position: relative;
  min-height: 48px;
  padding-left: $page-padding-left;
  padding-right: $page-padding-right;
  padding-bottom: $page-padding-right;
  overflow-x: hidden;
}

@media screen and (max-width: 420px) {
  .App {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.divider-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 25px 0;
  .line {
    flex: 1;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
  }
  span {
    color: rgba(255, 255, 255, 0.25);
    font-weight: 300;
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
}

.message-enter {
  opacity: 0.01;
  transform: translateY(10px);
}

.message-enter.message-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: 100ms ease-in;
}

.message-leave {
  opacity: 1;
  transform: translateY(0px);
}

.message-leave.message-leave-active {
  opacity: 0.01;
  transform: translateY(10px);
  transition: 100ms ease-in;
}

$success: #198754;
$danger: #d21f3c;
$warning: #ffbf00;

.toast {
  width: fit-content;
  max-width: 300px;
  padding: 10px 20px;
  min-height: 50px;
  border-radius: 0.25em;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(10px);
  color: #fff;
  font-size: 0.9em;
  position: fixed;
  right: 50px;
  bottom: 100px;
  display: flex;
  // justify-content: space-between;
  gap: 8px;
  align-items: center;
  overflow: hidden;
  z-index: 100;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%);
  border: 1px solid #ddd;
  transform: translateX(250%);
  transition: transform 0.5s cubic-bezier(0.23, 0.82, 0.16, 1.46);
  // border-left: 5px solid $success;
  // .loadBar{
  //     height: 100%;
  //     width: 5px;
  //     background-color: $success;
  //     position: absolute;
  //     left: 0px;
  //     top: 0px;
  //     transition: 0.25s ease;
  // }
}

.showToast {
  transform: translateX(0);
}

.arke-dialog-popup {
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  background-color: rgba(255, 255, 255, 0.01) !important;
  backdrop-filter: blur(10px) !important;
  border-radius: 10px !important;
  padding: 25px !important;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    border: 1px solid transparent;
    background: main-gradient(315deg) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
  // .close-dialog-btn{
  //     width: 35px;
  //     height: 35px;
  //     border: 1px solid rgba(255, 255, 255, 0.1);
  //     background-color: rgba(255, 255, 255, 0.01);
  //     backdrop-filter: blur(5px);
  //     border-radius: 5px;
  //     display: grid;
  //     place-items: center;
  //     cursor: pointer;
  //     margin-left: auto;
  //     position: absolute;
  //     top: 15px;
  //     right: 15px;
  // }

  .arke-dialog-title {
    background: main-gradient(45deg);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: unset;
    margin: unset;
    width: fit-content;
  }

  .arke-dialog-htmlcontainer {
    margin: unset;
    width: fit-content;
    margin-top: 25px;
    font-weight: 300;
    color: #fff;
    font-size: 0.9rem;
    opacity: 0.75;
    padding: unset;
  }

  .arke-dialog-actions {
    margin: unset;
    padding: unset;
    margin: 25px 0 0 auto;

    .arke-dialog-confirmbtn {
      background: main-gradient(315deg);
      border-radius: 7.5px;
      &:hover {
        background: main-gradient(315deg);
      }

      &:focus {
        box-shadow: unset;
      }
    }
    .arke-dialog-cancelbtn {
      border-radius: 7.5px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      background-color: transparent;
      position: relative;

      &:focus {
        box-shadow: unset;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: inherit;
        border: 1px solid transparent;
        background: main-gradient(315deg) border-box;
        -webkit-mask: linear-gradient(#fff 0 0) padding-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
      }
    }
  }

  // .btn-group{
  //     width: 100%;
  //     height: 40px;
  //     margin-top: auto;
  //     display: flex;
  //     justify-content: flex-end;
  //     align-items: center;
  //     align-self: flex-end;
  //     gap: 10px;
  //     button{
  //         height: 100%;
  //         width: 120px;
  //         border-radius: 7.5px;
  //         border: 1px solid rgba(255, 255, 255, 0.1);
  //         outline-width: 0px;
  //         background-color: transparent;
  //         position: relative;
  //         cursor: pointer;

  //     &::before{
  //         content: "";
  //         position: absolute;
  //         top: 0;
  //         left: 0;
  //         right: 0;
  //         bottom: 0;
  //         border-radius: inherit;
  //         border: 1px solid transparent;
  //         background: main-gradient(315deg) border-box;
  //         -webkit-mask:
  //           linear-gradient(#fff 0 0) padding-box,
  //           linear-gradient(#fff 0 0);
  //         -webkit-mask-composite: destination-out;
  //         mask-composite: exclude;
  //     }
  //     }
  // }
}

.cursor {
  position: absolute;
  cursor: none;
  width: 10px;
  height: 10px;
  top: var(--y);
  left: var(--x);
  border-radius: 50%;
  background-color: var(--primary-color);
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  opacity: 0;
  transform-origin: center center;
  transition: transform 0.1s, opacity 0.1s;
}

.cursor::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid var(--secondary-color);
}

.cursor.animation {
  // transform: scale(1.5);
  opacity: 1;
  transition: opacity 0.1s;
  animation: vibratingAnimation 0.1s ease-in-out infinite;
}

.cursor.animation::after {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 1;
  transition: opacity 0.1s;
  // animation: vibratingAnimation 0.1s ease-in-out infinite;
}

@keyframes vibratingAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(0) scale(1.2);
  }
  25% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  50% {
    transform: translate(-50%, -50%) rotate(0) scale(1.2);
  }
  75% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0) scale(1.2);
  }
}

.EmojiPickerReact {
  background-color: #000 !important;
  // border: 1px solid rgba(255, 255, 255, 0.2) !important;
  width: 100% !important;
  height: 100% !important;

  .epr-preview {
    display: none !important;
  }

  .epr-category-nav {
    display: none !important;
  }

  * {
    box-sizing: border-box;
    font-family: "Plus Jakarta Display", sans-serif !important;
  }

  *::-webkit-scrollbar {
    width: 5px !important;
    // padding: 2.5px;
  }

  *::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05) !important;
    border-radius: 50px !important;
    // padding: 2.5px;
    // margin: 40px;
    width: 5px !important;
  }

  *::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25) !important;
    border-radius: 50px !important;
    width: 5px !important;
    // border-right: 5px rgba(255, 255, 255, 0.25) solid;
    background-clip: padding-box !important;
  }

  button.epr-emoji .epr-emoji-img {
    max-width: calc(25px + 5px * 2) !important;
    max-height: calc(25px + 5px * 2) !important;
  }
}

.epr-search {
  background-color: #000 !important;
  outline-width: 0px;
}

.epr-emoji-category-label {
  background-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(5px);
  font-size: small;
}
