@import "../../../../assets/colors.scss";

$max-chat-width: 350px;

.ChatOut {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-end;
  margin-top: 15px;
  .ChatLabel {
    font-size: 0.7em;
  }
  .ChatTimeStamp {
    font-size: 0.55em;
    // margin-top: 5px;
  }
  .ChatMessage {
    width: fit-content;
    max-width: $max-chat-width;
    font-size: 0.75em;
    height: fit-content;
    padding: 12.5px 10px 10px 12.5px;
    // background-color: $magenta;
    color: rgba(255, 255, 255, 0.9);
    background: main-gradient(315deg);
    border-radius: 10px 0 10px 10px;
    word-break: break-word;
    text-align: left;
    display: flow-root;
    unicode-bidi: plaintext;
    white-space: pre-wrap;
    position: relative;

    display: flex;
    flex-direction: column;

    .ReplyMessage {
      background-color: rgba(255, 255, 255, 0.1);
    }

    img {
      cursor: pointer;
      max-height: 300px;
      object-fit: contain;
      background-color: rgba(0, 0, 0, 0.85);
    }
  }
}

.ChatIn {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  margin-top: 15px;
  .ChatLabel {
    font-size: 0.7em;
  }
  .ChatTimeStamp {
    font-size: 0.55em;
    // margin-top: 5px;
  }
  .ChatMessage {
    width: fit-content;
    max-width: $max-chat-width;
    font-size: 0.75em;
    height: fit-content;
    padding: 12.5px 12.5px 10px 10px;
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 0 10px 10px 10px;
    word-break: break-word;
    text-align: left;
    display: flow-root;
    unicode-bidi: plaintext;
    white-space: pre-wrap;
    position: relative;
    .ReplyMessage {
      background-color: rgb(27, 27, 27);
    }
  }
}

.ChatMessage {
  img {
    cursor: pointer;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 2.5px;
  }

  &:hover {
    .ReplyContainer {
      opacity: 1;
    }
  }

  .ReplyContainer {
    position: absolute;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    top: 0px;
    right: 0px;
    height: 30px;
    width: 30px;
    display: grid;
    border-radius: 5px;
    place-items: center;
    opacity: 0;
    transition: 0.25s;
  }

  .ReplyMessage {
    // background-color: rgb(27, 27, 27);
    border-radius: 10px;
    padding: 10px;
    margin: 0 0 10px 0;
    .sender {
      font-size: 0.7rem;
      font-weight: 500;
    }
    .message {
      font-size: 0.75rem;
      font-size: 0.9em;
      overflow: hidden;
      max-height: 8rem;
      -webkit-box-orient: vertical;
      display: block;
      display: -webkit-box;
      overflow: hidden !important;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
    }
  }
}

.CodeMessage {
  margin: 10px 0;
  position: relative;
}

.CodeHeader {
  // position: absolute;
  left: 10px;
  width: 100%;
  // transform: translateY(-50%);
  // top: 20px;
  display: flex;
  align-items: center;
  height: 25px;
  gap: 5px;
}

.CopyButton {
  background-color: rgba(255, 255, 255, 0.25);
  display: grid;
  place-items: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.LanguageTag {
  background-color: rgba(255, 255, 255, 0.25);
  display: grid;
  place-items: center;
  padding: 5px;
  border-radius: 5px;
  height: 25px;
  font-weight: 600;
  font-size: x-small;
  text-transform: uppercase;
}

p code {
  background-color: rgba(255, 255, 255, 0.25);
  padding: 2px;
  border-radius: 2px;
}

.ChatMessage {
  ul {
    list-style-position: inside;
    padding-right: 10px;
  }
  li {
    // list-style-image: url(/arke-bullet.svg);
    list-style-type: "◘    ";
    // padding-inline-end: 1ch;
    // list-style-type: none;
    // background-image: url(/arke-bullet.svg);
    // background-repeat: no-repeat;
  }

  code {
    font-family: "Cascadia Code", sans-serif !important;
  }

  blockquote {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
    border-left: 5px solid rgba(255, 255, 255, 0.5);
    margin: 5px 0;
  }

  pre {
    position: relative;
    overflow-x: auto;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
    border-top: 10px solid rgba(255, 255, 255, 0.5);
    margin: 5px 0;
    // margin-top: 35px;
    &::-webkit-scrollbar {
      height: 5px !important;
      // padding: 2.5px;
    }

    &::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.05) !important;
      border-radius: 50px !important;
      // padding: 2.5px;
      // margin: 40px;
      height: 5px !important;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.25) !important;
      border-radius: 50px !important;
      height: 5px !important;
      // border-right: 5px rgba(255, 255, 255, 0.25) solid;
      background-clip: padding-box !important;
    }
  }
}
