.Lightbox {
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  z-index: 99;
  // padding: 20px 25px;
  transition: 100ms ease-in;
  pointer-events: all;

  display: flex;
  flex-direction: column;

  .Header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 20px 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    .Title {
      h3 {
        font-size: 16px;
      }
      span {
        font-size: 12px;
      }
    }
    .Controls {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 10px;
    }
  }

  .Image {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    overflow: auto;
    gap: 10px;
    .ImageContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 90%;
      height: 90%;
      min-height: unset;
    }
    img {
      width: auto;
      height: auto;
      max-width: 700px;
      max-height: 500px;
      min-width: 0px;
      min-height: 0px;
      // max-width: 100%;
      // min-height: 20px;
      // max-height: 100%;
    }
    span {
      font-size: 12px;
    }
  }

  .Selector {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    opacity: 1;
    transition: 100ms ease-in;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    .Carousel {
      width: 100%;
      max-width: 700px;
      height: 75px;
      justify-content: center;
      overflow-y: hidden;
      overflow-x: auto;
      display: flex;
      gap: 5px;
      &::-webkit-scrollbar {
        height: 5px !important;
        // padding: 2.5px;
        display: none;
      }

      &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.05) !important;
        border-radius: 50px !important;
        // padding: 2.5px;
        // margin: 40px;
        height: 10px !important;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.25) !important;
        border-radius: 50px !important;
        height: 5px !important;
        // border-right: 5px rgba(255, 255, 255, 0.25) solid;
        background-clip: padding-box !important;
      }
      .Thumbnail {
        height: 100%;
        aspect-ratio: 1/1;
        // margin: 0 10px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        cursor: pointer;
      }
    }
  }
}

.LightboxClosed {
  opacity: 0;
  height: 0;
  pointer-events: none;
  .Image {
    img {
      display: none;
    }
  }
}

.SelectorClosed {
  opacity: 0 !important;
}
